* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: darkgray;
    min-height: 100vh;
    display: flex;
    /* flex-direction: column; */
    gap: 15px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.item {
    width: 200px;
    height: 200px;
    background-color: white;
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}