.btn {
    background: linear-gradient(90deg, #428cd1, #73cbe7);
    color: white;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    width: 160px;
    height: 40px;
    transition: .2s ease-in-out;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.btn:hover {
    transform: scale(1.1);
}
