body {
    background-color: rgb(15, 0, 68);
}

h1, ul > li {
    color: #fff;
}

h3 {
    color: #f1c40f;
}

#astronomy-class {
    color: red;
}

h2 {
    background-color: #f1c40f;
    border: 3px solid;
}